## 실습

- 다음과 같은 절차에 따라 총 가격이 가장 비싼 가계를 출력하는 프로그램을 작성
    - 단가와 개수로 이루어진 데이터 프레임 생성
    - 단가와 개수를 곱한 총 가격이 추가된 데이터 프레임 생성

In [5]:
import pandas as pd
import numpy as np

In [32]:
x = np.array([[1000,25],[280,120],[900,30]])
df = pd.DataFrame(x, index=['store1', 'store2', 'store3'], columns=['unit price', 'number'])

sum = []

print(df)

for val in x:
    sum.append(val[0] * val[1])

df['total price'] = sum
df

        unit price  number
store1        1000      25
store2         280     120
store3         900      30

        unit price  number  total price
store1        1000      25        25000
store2         280     120        33600
store3         900      30        27000